<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amaz.objects.TwentyfourSeven">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        tools:replace="android:allowBackup"
        android:name=".MApplication"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="false">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.MyAccount.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.Splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.RegisterOrLogin.RegisterOrLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.MobileRegisteration.MobileRegisterationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.MobileVerification.MobileVerificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.Pages.PagesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.AboutUs.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.HowToUse.HowToUseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.DelegateRequest.DelegateRequestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.AccountDetails.AccountDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.MyAddresses.MyAddressesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.ContactUs.ContactUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.AddAddress.AddAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.AddressSearch.AddressSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.CarDetails.CarDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.CategoryStores.CategoryStoresActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AllNearestStores.AllNearestStoresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.MyOrders.MyCurrentOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.AddMoney.AddMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.AddMoney.BankTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="amaz.objects.TwentyfourSeven.ui.AddMoney.SubmitTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StoreDetails.StoreDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">


            <!--<intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="247" android:host="twentyfourseven" android:pathPrefix="/stores" />

            </intent-filter>-->
            <!-- For chrome links -->
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twentyfourseven"
                    android:pathPrefix="/"
                    android:scheme="http" />
            </intent-filter>-->

            <!-- For adb -->
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twentyfourseven"
                    android:scheme="http" />
            </intent-filter>-->

            <!-- Branch URI scheme -->
            <intent-filter>
                <data android:scheme="twentyfourseven" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="247dev.app.link" />
            </intent-filter>


        </activity>

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ajGcQCVo376gjR58yH0gscglqzo8cKTZ" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="secret_live_41AmyOLJCbudWiGQWcP4qf1duEH0WAiI" />

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />



        <!-- Branch install referrer tracking -->
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MyBalance.MyBalanceActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.RequestFromStore.RequestFromStoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MapSelectDestination.MapSelectDestinationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.OrderDetails.CustomerOrderDetails.CustomerOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.OrderDetails.DelegateOrderDetails.DelegateOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.OrderChat.OrderChatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MyReviews.MyReviewsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SubmitComplaint.SubmitComplaintActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MyComplaints.MyComplaintsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.CustOrDelProfile.CustOrDelProfileActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.PayViaCreditCard.PayViaCreditCardActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service
            android:name="amaz.objects.TwentyfourSeven.ui.Notification.MyNotificationExtenderService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

<!--        <service android:name=".utilities.DelegateLocationService" />-->
        <service android:name=".utilities.tracking_module.TrackingService"/>

        <receiver android:name=".utilities.tracking_module.TrackingReceiver"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

<!--        <meta-data-->
<!--            android:name="io.fabric.ApiKey"-->
<!--            android:value="2eff3327c5df557cd904af283cbe69370394df16" />-->
    </application>

</manifest>